<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <session-config>
    <session-timeout>60</session-timeout>
  </session-config>
  <display-name>quanlitapchi</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <error-page>
    <exception-type>java.lang.Throwable</exception-type>
    <location>/404.html</location>
  </error-page>
  <error-page>
    <error-code>404</error-code>
    <location>/404.html</location>
  </error-page>
  <error-page>
    <error-code>400</error-code>
    <location>/404.html</location>
  </error-page>
  <servlet>
    <display-name>login</display-name>
    <servlet-name>controller.LoginControll</servlet-name>
    <servlet-class>controller.LoginControll</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>controller.LoginControll</servlet-name>
    <url-pattern>/jsp/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>file upload</display-name>
    <servlet-name>controller.SubmitManuscriptController</servlet-name>
    <servlet-class>controller.SubmitManuscriptController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>controller.SubmitManuscriptController</servlet-name>
    <url-pattern>/jsp/uploadfile</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>search</display-name>
    <servlet-name>controller.SearchController</servlet-name>
    <servlet-class>controller.SearchController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>controller.SearchController</servlet-name>
    <url-pattern>/jsp/searchJournal</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>Register</display-name>
    <servlet-name>controller.RegController</servlet-name>
    <servlet-class>controller.RegController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>controller.RegController</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>Log out</display-name>
    <servlet-name>controller.LogoutController</servlet-name>
    <servlet-class>controller.LogoutController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>controller.LogoutController</servlet-name>
    <url-pattern>/jsp/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>EmailSendingServlet</display-name>
    <servlet-name>controller.EmailSendingServlet</servlet-name>
    <servlet-class>controller.EmailSendingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>controller.EmailSendingServlet</servlet-name>
    <url-pattern>/EmailSendingServlet</url-pattern>
  </servlet-mapping>
  <context-param>
    <param-name>host</param-name>
    <param-value>smtp.gmail.com</param-value>
  </context-param>
  <context-param>
    <param-name>port</param-name>
    <param-value>587</param-value>
  </context-param>
  <context-param>
    <param-name>user</param-name>
    <param-value>nguyenvanphituoc@gmail.com</param-value>
  </context-param>
  <context-param>
    <param-name>pass</param-name>
    <param-value>Sauwe@123</param-value>
  </context-param>
</web-app>